.header
  if props.account
    Menu(mode="horizontal")
      Menu-Item.menu--dropdown
        Dropdown(placement="bottomRight" overlayClassName="header--dropdown")
          a
            Avatar(src=props.isvInfo.avatar size="small")
            span= props.account.username
            Icon(type="down")
          Dropdown:overlay
            Fragment
              .header--dropdown-menu
                .header--dropdown-menu-item(onClick=(() => updateAccount(props.account)))
                  .header--dropdown-menu-item-icon.header--dropdown-menu-item-icon_blue
                    Icon(type="yq-info")
                  .header--dropdown-menu-item-label 修改信息
                .header--dropdown-menu-item(onClick=(() => updatePassword(props.account)))
                  .header--dropdown-menu-item-icon.header--dropdown-menu-item-icon_green
                    Icon(type="yq-lock")
                  .header--dropdown-menu-item-label 修改密码
                Link(href="/subscriber"): a.header--dropdown-menu-item
                  .header--dropdown-menu-item-icon.header--dropdown-menu-item-icon_yellow
                    Icon(type="yq-subscribe")
                  .header--dropdown-menu-item-label 订阅管理
              Link(href="/logout"): a.header--dropdown-footer 退出登录

  a(href="/")
    img.logo(src=props.isvInfo.logo)
