Layout
  Layout-Header
    Header

  Layout-Content
    .layout--wrapper
      if !props.nav
        NavMenu
      = props.children

  Layout-Footer
    .align-center Copyright © 2020 上海云权科技有限公司 All Rights Reserved.
