SiteLayout
  .yq-submenu
    Radio-Group(value=state.index onChange=menuChange)
      each x, i in FINANCE_MENUS.menus
        Radio-Button(key=i value=i)= x.label

  Alert.margin-bottom_20(message="财务管理模块仅支持折扣账号，不支持自有纳管账号，如有需要请通过“服务支持”联系我们。" showIcon)

  case state.index
    when 0
      Recharge
    when 1
      TradeList
    when 2
      OrderList
    when 3
      InvoiceList
    when 4
      BillList
