.ant-btn
  box-shadow none

  & + &
    margin-left 12px

  &-primary
    text-shadow none

    &:hover, &:focus
      border-color $link-hover-color
      background $link-hover-color

  &-sm
    font-size $font-size-sm
    border-radius $border-radius-sm
