.ant-modal

  &-content
    box-shadow 0px 1px 4px 0px $black-20

  &-header
    padding 18px 20px
    border none
    box-shadow 0 2px 4px 0 $black-05

  &-close
    padding 0
    box-shadow none

    &-x
      margin 2px 2px 0 0

  &-title
    line-height 24px
    color $heading-color

  &-body
    min-height 240px

  &-footer
    padding 20px 20px 0
    height 68px
    border-color $border-color-base
