.ant-radio
  &-group
    font-size $font-size-sm

  &-button-wrapper
    height height = 32px
    line-height (height - 2)

    &-checked
      background rgba($primary-color, .1)

      &:not(.ant-radio-button-wrapper-disabled)
        background rgba($primary-color, .1)
