// form
//   .ant-select
//     width 330px

// .ant-select
//   width 330px
//   font-size $font-size-sm

//   &-selection
//     box-shadow none !important

.ant-select-dropdown-menu
  font-size $font-size-sm

  // &-item

    // &:not(.ant-select-dropdown-menu-item-disabled):hover
    //   color #fff !important
    //   background $primary-color !important

    // &-active:not(.ant-select-dropdown-menu-item-disabled)
    //   background $background-color-light
