form
  .ant-select
    width 330px

.ant-select
  width 330px
  font-size $font-size-sm

.ant-select-dropdown-menu
  font-size $font-size-sm

  &-item
    &:not(.ant-select-dropdown-menu-item-disabled):hover
      color $white
      background-color $primary-color
