.ant-table
  font-size $font-size-sm
  line-height $line-height

  table
    // border-collapse unset

    th
      color $heading-color
      font-weight normal

    th, td
      padding 10px 0

  &-placeholder
    border none
