.ant-tag
  margin-right 12px
  padding 0 $padding-sm
  line-height 22px
  border none
  cursor default

  &-blue
    background rgba($blue, .05)
    color $blue

  &-lime
    background rgba($lime, .05)
    color $lime

  &-green
    background rgba($green, .05)
    color $green

  &-orange
    background rgba($orange, .05)
    color $orange

  &-purple
    background rgba($purple, .05)
    color $purple

  &-cyan
    background rgba($cyan, .05)
    color $cyan

  &-pink
    background rgba($pink, .05)
    color $pink

  &-red
    background rgba($red, .05)
    color $red

  &-checkable
    border 1px solid $border-color-base
    cursor pointer

    &-checked
      border-color $primary-color
