Html
  Head
    link(href=props.favicon rel="icon")
    meta(name="description" content=props.description)
    meta(name="keyword" content=props.keyword)
  body
    script var _yq_
    Main
    script(src="/static/noCaptcha.js")
    NextScript
