.card-comment
  margin-bottom 20px

  &-role, &-name
    padding-left 12px
    color  $title-color

  &-class
    padding-left 10px
    color $text-color-secondary

  .ant-card
    &-head
      padding 0 20px
      min-height 40px
      line-height 24px
      font-size $font-size-sm
      background #f5f6fa

      &-title
        padding 8px 0

    &-extra
      padding 8px 0
      font-size $font-size-sm
      color $text-color-secondary

    &-body
      padding 20px
      color $title-color

      img
        margin-top 20px
        max-width 100%
        border 1px solid $black-20

  .ant-avatar
    vertical-align top
