.detail
  &-header
    margin-bottom 20px
    min-height 86px
    border-bottom 1px solid $border-color-split

    &-buttons
      float right
      padding-top 8px

    &-name
      line-height 44px
      font-size 24px
      color $heading-color

  &-body
    &-header
      padding-bottom 20px
      color $heading-color

  &-error
    margin -8px 0 12px
    font-size $font-size-sm
    color $red
