.detail
  &-header
    min-height 86px
    border-bottom 1px solid $border-color-split

    &-buttons
      float right
      padding-top 8px

    &-name
      line-height 44px
      font-size 24px
      color $heading-color

  &-body
    &-header
      padding 20px 0
      color $heading-color
