.filter-form

  .ant-form
    &-item
      margin 0 30px 10px 0

      &-label
        margin-right 5px
        width 75px

  .ant-calendar-picker
    span.ant-calendar-picker
      width 520px !important

    &-input
      width 520px
