.header
  base-width $width

  .logo
    max-width 110px

  .ant-menu
    &-horizontal
      float right
      line-height $layout-header-height
      background transparent

    &-item
      border none
      vertical-align top

      &:hover, &-active
        border none

      a, a:hover
        color $white

      &.menu--dropdown
        padding-right 0

        .ant-avatar
          margin -4px 10px 0 0

        .anticon
          margin 0 0 0 8px

  &--dropdown
    top $layout-header-height !important
    z-index 990
    padding 20px 20px 0
    width 200px
    font-size $font-size-sm
    text-align center
    background $white
    @extend .box-style

    &-menu
      @extend .flex-between
      flex-wrap wrap

      &-item
        margin-bottom 10px
        width 76px
        cursor pointer

        &-icon
          display inline-flex
          width 45px
          height 45px
          font-size 20px
          border-radius 45px
          @extend .flex-center

          &_blue
            color #6182ff
            background rgba(#6182ff, .1)

          &_green
            color #15b058
            background rgba(#15b058, .1)

          &_yellow
            color #f7931e
            background rgba(#f7931e, .1)

        &-label
          line-height 34px
          color $text-color

    &-footer
      display block
      padding 10px 0
      line-height $line-height
      color $text-color
      border-top 1px solid $border-color-split

      &:hover
        color $text-color
