.invoice
  &-info
    color $orange

  // &-detail-info
  //   padding 0
  //   list-style none
  //   font-size $font-size-sm

  //   li
  //     padding 12px 0

  //     span
  //       display inline-block
  //       min-width 135px
  //       color $title-color
