.modal-qrcode
  text-align center

  &-title
    padding 10px 0
    line-height 28px
    font-size 18px
    color $heading-color

  &-wrapper
    display inline-block
    margin-top 20px
    padding 20px 25px 0
    width 200px
    height 200px
    border 1px solid $border-color-split

  .ant-modal-body
    min-height 330px

  .ant-modal-footer
    border-color transparent
    background transparent

    .ant-btn
      margin-left 0
      width 100%
