.popover
  &--hr
    border 1px solid $border-color-split

  &-details
    width 320px

    dt
      padding 4px 0 8px
      color $heading-color
      font-weight bold

    dd
      display flex
      color $heading-color

      span
        word-break break-all

        &:first-child
          flex 0 0 88px
