.region-az
  padding 10px
  width 290px
  line-height $line-height

  dl
    margin-bottom 8px
    overflow hidden

    &:last-child
      margin 0

  dt
    margin-bottom 4px
    color $text-color-secondary

  dd
    float left
    width 135px

    img
      margin-right 6px
      width 14px
      height 14px
      vertical-align text-bottom

    a
      color $text-color

      &:hover
        color $link-color
