.ticket

  .ant-select
      width 160px

      & + .ant-select
        margin-left 10px

  &, &-detail

    textarea.ant-input
      margin-bottom 0
      padding 10px 20px
      width 715px
      height 120px

  &-detail
    margin-top 40px

    &-header
      margin-bottom 20px
      font-size $font-size-sm
      text-align right

    &-title
      margin-bottom 20px
      color $heading-color
      font-weight bold

    .upload-pictures-header
      padding 10px
      font-size $font-size-sm

    &-text
      padding 20px 0
      color $black-20

    &-radio-group

      .ant-radio-wrapper
        font-size $font-size-sm

      span.ant-radio + *
        padding-right 40px
