.vnc-wrapper
  position fixed
  left 50%
  top 50%
  margin -78px 0 0 -50px
  width 100px
  height 156px

  .ant-btn
    position absolute
    left 50%
    bottom 0
    margin-left -44px

.ant-notification--center
  width 608px
  right 50%
  margin-left -522px
