SimpleForm(_ref=form states=states hideRequiredMark onSubmit=onSubmit)
if warning
  .instance-modal-content--password
    Alert(type="warning" message="重置密码需要在关机状态下操作" showIcon)
    Checkbox(onChange=setRestart) 关机
