.ant-cascader
  &-picker
    width 330px

  &-menu
    &s
      font-size $font-size-sm

    &-item
      &-active:not(.ant-cascader-menu-item-disabled)
        &, &:hover
          font-weight normal
          background-color $primary-1
