.click-edit

  .anticon-form
    margin-left 4px

  &-buttons
    text-align right

  &-popover

    .ant-form
      width width = 330px
      overflow hidden

      &-explain
        width (width/0.83)px
