.ant-popover

  .popover-detail--title
    padding-right 4px
    color $heading-color

  .popover-ul_disc
    margin 0
    padding 0 0 0 12px
    width 250px

  .popover--hr
    border 1px solid $border-color-split
