.table-list

  &-title
    padding 20px 0 10px
    color $heading-color

  .ant-table
    &-thead
      th
        background transparent

    &-tbody
      tr:last-child
        td
          border-width 0

  .ant-table-pagination
    margin 80px -20px -20px 0
    padding 12px 0
    width calc(100% + 40px)
    text-align right
    background $layout-body-background
