import-less('antd/es/style/themes/index')
import-less('index')
@import './basic-css'

$width = 1000px
$min-width = $width + 80px
$line-height = 22px

$box-shadow = (0 0 8px 0 rgba(#dadada, .5))
$module-color = #102039
$blue = $info-color
$lime = $success-color
$orange = #ff7a45
$purple = #9254de
$cyan = #13c2c2
$pink = #f759ab
$red = $error-color
$green = #8aab43
$gray = #bfbfbf
$popcorn = $warning-color
$white-15 = rgba($white, .15)
$black-05 = rgba($black, .05)
$black-10 = rgba($black, .1)
$black-20 = rgba($black, .2)
$black-25 = rgba($black, .25)
$black-45 = rgba($black, .45)
$black-70 = rgba($black, .7)
